*
{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

 @font-face 
 {
  font-family: "Roboto mono";
  src: url(../fonts/inter/static/Inter-SemiBold.ttf);
  font-weight: 700px;
  
}

h1 
{
  font-family: Barrio;
}

body
{
    background-color: #090909;
    color: #fff;
    height: 100vh;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px;

}

button
{
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #8b5cf6;
    background-color: transparent;
    color: #fff;

    display: flex;
    align-items: center;
    gap: 12px;


    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
   
}
/* aula 02 35:50*/

#form-habits
{
    display: flex;
    padding: 0 48px;

}

.habits
{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 60px;
}

.habit
{
    

    width: 64px;
    height: 64px;

    font-size: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.days
{
    display: flex;
    gap: 48px;
    margin-left: 32px;
}

.day
{
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.day div
{
    margin-bottom: 8px;

    font-family: "Roboto mono";
    font-weight: 700px;
    font-size: 20px;
    line-height: 125%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #a1a1AA;
    
}

input
{
    appearance: none;
    -webkit-appearance: none;

    width: 64px;
    height: 64px;

    border: 2px solid #27272A;
    border-radius: 8px;

    background-color: #18181b;
}

input:checked
{
    background-color: #8B5CF6;
}